@{
    ViewData["Title"] = "Cipher Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p>There is a page dedicated to each cipher you will like to try out. </p>
    <p>Click the menu items listed above and try them out!</p>
</div>

