@{
    ViewData["Title"] = "Cipher Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p>Follow this order. </p>
    <p>Generate your DiffeHellman Sender Key</p>
    <p>Generate your DiffeHellman Receiver Key</p>
    <p>Generate your Rsa Sender Key</p>
    <p>Generate your Rsa Receiver Key</p>
    <p>Encrypt your text using Viginere Cypher</p>
    <p>Decrypt your text using Viginere Cypher</p>
</div>

